// BASIC COLOR
$black: black;
$white: #ffffff;


$brand-purple: #311852;
$brand-blue: #4D36DC;
$brand-pink: #FFDFED;
$brand_orange: #FF7A1F;
$brand-gray: #F7F0FF;
$brand_light-purple: #8D829C;
$brand-light-gray: #FFF9F5;