// BASIC COLOR
$black: black;
$white: #ffffff;

$brand-purple: #311852;
$brand-blue: #4D36DC;
$brand-pink: #FFDFED;
$brand_orange: #FF7A1F;
$brand_light-purple: #F7F0FF;
$brand_dark-purple: #8D829C;
$brand-light-orange: #FFF9F5;

$play-button-video: #a616ea;
$brand-gray: #e3e3ed